// app global css in SCSS form
@import './panes';
@import './themes';
@import './text_sizes';

#app_event_loop_svg {
  height: 12rem;
}

.q-drawer{
  background: transparent;
}

.bg-transparent{
    background: transparent;
}

.app-dialog{
  border-radius: 2rem 2rem 2rem 0rem;
  border-right: .1rem solid white;
  border-bottom: .1rem solid white;
  padding: .5rem;
  min-width: 32rem;
  margin: 2rem;
}

.app-list-item{
  border-radius: 1rem 1rem 1rem 0rem;
  border-right: .1rem solid white;
  border-bottom: .1rem solid white;
  margin:1rem;
}

.essential-link{
  margin:.5rem;
  padding:.5rem;
  pointer:cursor;
}

.top-left{
  padding-top:.5rem;
  padding-left:.5rem;
}

.restrain-rem{
  max-width: 50rem;
}

.ss-pane{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  padding:1rem;
}

.ss-drawer{
  display: flex;
  flex-flow: row nowrap;
  padding:1rem;  
}

.select-item{
  margin: .5rem;
  width: 8rem;
  padding: .5rem;
}
